table.medical-dosage-form-table th.medical-genetics-genes
{ width: 33% !important;}
table.medical-dosage-form-table th.medical-genetics-pos,
table.medical-dosage-form-table th.medical-genetics-neg,
table.medical-dosage-form-table th.medical-genetics-na
{ width: 11% !important;}
table.medical-dosage-form-table th.medical-genetics-result
{ width: 33%;}
table.medical-dosage-form-table td.medical-genetics-pos,
table.medical-dosage-form-table td.medical-genetics-neg,
table.medical-dosage-form-table td.medical-genetics-na,
table.medical-dosage-form-table td.medical-genetics-gene
{ vertical-align: middle; text-align: center;}

table.medical-dosage-form-table td.medical-genetics-gene input[type=text]
{ width: 100px;}

form div.medical-dosage-field-outer .container-inline {
  padding: 5px;
}
form div.medical-dosage-field-outer .container-inline.even {
  background-color: #eee;
}
form div.medical-dosage-field-outer .container-inline div,
table.field-group-conditional div.medical-dosage-field-outer .container-inline .form-item.form-type-textfield {
  display: inline-block;
}
form div.medical-dosage-field-outer div.form-type-checkbox {
  width: 72px;
}
